<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" id="users" 
           asp-page="/Users/Index">
            Users
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="roles"
           asp-page="/Roles/Index">
            Roles
        </a>
    </li>
</ul>
