@page
@model MovieWebApp.Areas.Admin.Pages.Users.CreateModel
@{
    ViewData["Title"] = "Users Create";
}

<h1>Create User</h1>
<hr/>
<form method="post">
    <div class="row">
        <div class="col-md-7">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="UserCreate.Email" class="form-control" autocomplete="username" aria-required="true"/>
                <label asp-for="UserCreate.Email"></label>
                <span asp-validation-for="UserCreate.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="UserCreate.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
                <label asp-for="UserCreate.Password"></label>
                <span asp-validation-for="UserCreate.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="UserCreate.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
                <label asp-for="UserCreate.ConfirmPassword"></label>
                <span asp-validation-for="UserCreate.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>

        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}